page-home {
  .theme-color {
  background-color: #0c60ee !important;
  color: #0c60ee;
  }
  .toolbar-background {
  background-color: #0c60ee;
  }
  .backgroudMovieapp{
    color: black;
  }
  .h1Sis {
          color: yellow;
  }
  .ionlabel{
      color: yellow;
      font-size: 30px;
  }

  .ionlabelNumber{
      color: orange;
      font-size: 55px;
      font-weight: bold;
  }
  .ionlabelTitle{
      color: white;
      font-size: 25px;
      font-weight: bold;
  }
  .ionlabelSubTitle{
      color: grey;
      font-size: 15px;
  }

}
